<div id="<%= dom_id wishlist %>">
  <p>
    <strong>Order:</strong>
    <%= wishlist.order %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= wishlist.product_id %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= wishlist.merchant_id %>
  </p>

</div>
