<HTML>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
​
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
​</head>


<body>
<h1>Products</h1>
<%# @products.each do |pro| %>
    <%= render 'code' %>
<%# end %>
</body>
</HTML>











<%# productindex
<h1>Products</h1>

<%= link_to "New Product", new_product_path %>
<%#= link_to "New Product Image", new_productimage_path %>
<%#= link_to "New ID proof",  new_idproof_path%>


<%# <ul> %>
  <%# <% @products.each do |product| %>
    <%# <li> %>
  <%# <strong>name: </strong> %>
  <%#= product.name %>

  <%# <strong>description:</strong> %>
  <%# <%= product.description %>

  <%# <strong>price: </strong> %>
  <%#= product.price %>

  <%# <strong>category: </strong> %>
  <%#= Category.find(product.category_id).categoryname %>

  <%# <strong>status:  </strong> %>
  <%#= product.status %>

  <%#= link_to "show", product   %>

    <%# </li> %>
  <%# end %>
<%# </ul> %>

<%#= link_to "New Product", new_product_path %>



​

