<div id="<%= dom_id productimage %>">
  <p>

    <%#= productimage.image %>
  </p>

  <strong>Images:</strong><br>
    <%# @product.productimages.each do |productimage| %>
    <%= image_tag productimage.image.url, size: 15*15 %>
  <%#end %>
</div>
