<p style="color: green"><%= notice %></p>

<h1>Productimages</h1>

<div id="productimages">
  <% @productimages.each do |productimage| %>
    <%= render productimage %>
    <p>
      <%= link_to "Show this productimage", productimage %>
    </p>
  <% end %>
</div>

<%= link_to "New productimage", new_productimage_path %>
